<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>青年信息详情</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
</head>
<body class="admin-body">
<div class="admin-layout">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="content container-fluid">
        <div th:replace="~{fragments/topbar :: topbar(${pageTitle})}"></div>

        <section class="drawer-workspace">
            <section class="drawer-content-view" th:fragment="drawerContent">
                <div class="drawer-panel-header">
                    <h2 class="h4 mb-1" th:text="${record.name + ' 详情'}">青年信息详情</h2>
                </div>

                    <div class="detail-grid row g-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>姓名</span><strong th:text="${record.name}">青年姓名</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>性别</span><strong th:text="${record.genderName}">男</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>民族</span><strong th:text="${record.ethnicityName}">汉族</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>政治面貌</span><strong th:text="${record.politicalStatusName}">群众</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>学历</span><strong th:text="${record.educationLevelName}">本科</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>学位</span><strong th:text="${record.degreeName}">学士</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>籍贯</span><strong th:text="${record.nativePlaceName}">青海省-海东市-乐都区</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>现居住地</span><strong th:text="${record.currentResidenceName}">青海省-海东市-乐都区</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>学校</span><strong th:text="${record.schoolName}">青海大学</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>学校所在地</span><strong th:text="${record.schoolRegionName}">青海省-海东市</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>专业</span><strong th:text="${record.major}">计算机科学与技术</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>专业类别</span><strong th:text="${record.majorCategory}">工学</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>招考年份</span><strong th:text="${record.recruitmentYear}">2023</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>就业方向</span><strong th:text="${record.employmentDirection}">互联网开发</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>联系方式</span><strong th:text="${record.phone}">13900000001</strong></div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-6"><span>创建时间</span><strong th:text="${record.createTime}">2026-01-01</strong></div>
                        <div class="col-12"><span>备注</span><strong th:text="${record.remarks}">备注内容</strong></div>
                    </div>

                    <div class="form-actions mt-3">
                        <a class="btn btn-outline-secondary" th:href="@{'/youth/' + ${youthType}}" data-drawer-close>返回列表</a>
                        <a class="btn btn-primary" data-drawer-link th:href="@{'/youth/' + ${youthType} + '/' + ${record.id} + '/edit'}">编辑</a>
                    </div>
            </section>
        </section>
    </main>
</div>
</body>
</html>
